<ul class="actions social_networks">
    {{#each socio_nets}}
        <li>
            <a target="_blank" href={{href}} class={{cls}}>
                <span class="label">{{label}}</span>
            </a>
        </li>
    {{/each}}
</ul>
<div class="menu">
    <div>&copy;2015&mdash;{{year}} Scandinavian Tree</div>
</div>
