<div class="content">
    <ul class="social_networks">
        {{#each socioNets}}
            <li>
                <a target="_blank" href="{{href}}"
                    class="icon {{label}}" rel="noopener">
                    <span class="label">{{label}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
    <ul class="copyright">
        <li>&copy;2015&mdash;{{year}}</li>
        <li>ScandinavianTree</li>
    </ul>
</div>
