<div class='content'>
    <header>
        <h2>{{hello}}</h2>
    </header>
    <p class="motto">{{motto}}</p>
    <footer>
        <a href="{{next.href}}" class="button style2 down">{{next.text}}</a>
    </footer>
</div>
