<a href="#" id="hamburger" class="nav-toggle">
    <span></span>
</a>
<div id="desktop">
    <ul>
        {{#each items}}
            <li>
                <a href="#{{this.name}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
    <div id="nav-indicator"></div>
</div>
