<a href="#" id="hamburger">
    <span></span>
</a>
<div id="desktop">
    <ul>
        {{#each items}}
            <li>
                <a class="{{cls}}" href="#{{this.name}}">
                    {{this.name}}
                </a>
            </li>
        {{/each}}
    </ul>
    <div id="nav-indicator"></div>
</div>
