@charset "UTF-8";

input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {
	background-color: #85c47e;
	border: none;
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	outline: 0;
	padding: 0 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: 700;

	&.anchored {
		position: absolute;
		left: 50%;
	}

	&:hover {
		background-color: rgba(133, 196, 126, 0.7);
	}

	&:active {
		background-color: #88b583;
	}

	&.disable {
		background-color: rgba(133, 196, 126, 0.5);
	}
}

.fullscreen {
	height: 100%;
}

.bg_color {
	background: #e8e7e5;
}

/* Loader */

body {
	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-weight: normal;
		text-transform: none;
		color: #ececec;
		content: '';
		cursor: default;
		display: block;
		font-size: 2em;
		height: 2em;
		left: 50%;
		line-height: 2em;
		margin: -1em 0 0 -1em;
		opacity: 0;
		position: fixed;
		text-align: center;
		top: 50%;
		width: 2em;
		z-index: -1;
		background: transparent url('../img/loader.png') 50% 50% no-repeat;
	}

	&:after {
		background: #fff;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	&.is-loading {
		&:before {
			z-index: 100001;
		}

		&:after {
			opacity: 1;
			z-index: 100000;
		}

		&.board_spinner {
			border: 1px solid #C3AD55;
			width: 28px;
			height: 5px;
			background-color: #f0e0a2;
			margin: 0 auto;

			}
	}
}

/* Gallery */
.gallery {
	padding: 1em 1em 0;

	> div {
		width: 33.33%;
		float: left;
		border: 1em solid #fff;
		position: relative;
		height: 400px;

		a {
			cursor: pointer;
			background: #000;
			text-decoration: none;

			img {
				opacity: 1;
			}

			&:hover {
				img {
					opacity: 0.5;
				}

				ul {
					display: block;
				}
			}

			ul {
				overflow: hidden;
				position: absolute;
				top: 50%;
				margin: -0.5em 0 0;
				text-align: center;
				width: 100%;
				display: none;
			  	height: 1em;
			  	line-height: 1em;

				li {
					line-height: 1em;
					font-weight: 500;
					color: #fff;
					display: inline-block;
					padding: 0 0.5em;

					span {
						display: block;
						color: #fff;
						height: 20px;
						width: 20px;
						float: left;
					  	margin: 2px 3px 0 0;
					}

					&.likes {
						span {
							font-size: 1.5em;
							line-height: 0.5em;
						}
					}

					&.comments {
						span {
							text-transform: uppercase;
							position: relative;
							background: #fff;
							border-radius: 8px;
							height: 16px;

							&:before {
								content: '\\';
								position: absolute;
								top: 0;
								left: 8px;
								font-weight: 700;
							}
						}
					}
				}
			}

		  .heart {
			  position: relative;
			  width: 20px;
			  height: 18px;

			&:before,
			&:after {
				position: absolute;
				content: "";
				left: 10px;
				top: 0;
				width: 10px;
				height: 16px;
				background: #fff;
				-moz-border-radius: 5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				}

			&:after {
				left: 0;
				}
		  }
		}
	}
}

@media (max-width: 1280px) {
	/* Basic */

	/* Gallery */
	.gallery {
		> div {
			width: 50%;

			&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}
		}
	}

	.block {
		padding: 50px 0;
	}
}


@media (max-width: 1000px) {
	.container > .container {
		width: 100%;
	}
}

	@media (max-width: 736px) {
		#gallery {
			h3 {
				&:before {
					margin: 0.05em 0 0 -1.4em;
				}
			}
		}

		/* Gallery */
		.gallery {
			> div {
				width: 100%;
				border: none;
				border-bottom: 1em solid #fff;
				height: auto;

				&:nth-child(5),
				&:nth-child(6) {
					display: none;
				}

				a {
					background: transparent;

					&:hover {
						opacity: 1;
					}

					ul {
						position: static;
						display: block;
						margin: 0;
						height: 1.2em;

						li {
							padding: 0.2em 1em 0 0;
							height: 20px;
							color: #777;

							span {
								color: #C3AD55;
							}

							.heart:before,
							.heart:after {
								background: #C3AD55;
							}

							&.comments {
								span {
									background: #C3AD55;
									border: 1px solid #C3AD55;

									&:before {
										content: '\\';
										position: absolute;
										top: 0;
										left: 8px;
										font-weight: 700;
										color: #C3AD55;
									}
								}
							}
						}
					}
				}
			}
		}
	}
