@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,900&subset=latin,cyrillic,cyrillic-ext');

//@include skel-breakpoints((
//	wide: '(max-width: 1920px)',
//	normal: '(max-width: 1680px)',
//	narrow: '(max-width: 1280px)',
//	narrower: '(max-width: 1000px)',
//	mobile: '(max-width: 736px)',
//	mobilenarrow: '(max-width: 480px)',
//));

/* Basic */

html {
	height: 100%;
}

body {
	background: #fff;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.75em;
	color: #777;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0;
}

input, textarea, select {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.75em;
	color: #777;
	letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 3em;
	line-height: 1em;
}

h3 {
	font-size: 2em;
	line-height: 1.25em;
	text-align: center;
  	position: relative;
}

h4 {
	text-align: center;
}

h5 {
	font-size: 1em;
	font-weight: 500;
	text-transform: capitalize;
}
strong, b {
	font-weight: 900;
	color: inherit;
}

em, i {
	font-style: italic;
}

a {
	color: #85C47E;
	font-weight: 700;
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

hr {
	border: 0;
	border-top: solid 1px #ddd;
}

blockquote {
	border-left: solid 0.5em #ddd;
	padding: 1em 0 1em 2em;
	font-style: italic;
}

header {
	p {
		font-size: 1.1em;
		color: #777;
	}
}

br.clear {
	clear: both;
}

/* Image */

.image {
	position: relative;
	display: inline-block;

	img {
		display: block;
		width: 100%;
	}

	&.featured {
		display: block;
		width: 100%;
		margin: 0 0 2em;
	}

	&.fit {
		display: block;
		width: 100%;
	}

	&.left {
		float: left;
		margin: 0 2em 0 0;
	}

	&.right {
		float: right;
		margin: 0 0 0 2em;
	}

	&.centered {
		display: block;
		margin: 0 0 2em;

		img {
			margin: 0 auto;
			width: auto;
		}
	}
}

/* List */

ul {
	margin: 0;
	padding: 0;

	&.default {
		list-style: disc;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}
	}

	&.icons {
		cursor: default;

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}
	}

	&.menu {
		cursor: default;

		li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px rgba(145, 146, 147, 0.25);
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;

			&:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}
		}
	}

	&.actions {
		cursor: default;

		li {
			display: inline-block;
		}
	}

	&.social_networks {
		a {
			background: url('../images/social_networks.png') no-repeat;
			width: 31px;
			height: 32px;
			display: block;

			&.facebook {
				background-position: 0 0;

				&:hover {
					background-position: -31px 0;
				}
			}

			&.instagram {
				background-position: 0 -32px;

				&:hover {
					background-position: -31px -32px;
				}
			}

			&.pinterest {
				background-position: 0 -64px;
			}

			&.vkontakte {
				background-position: 0 -96px;
			}
		}
	}

	&.tree_params {
		margin: 0 0 0.5em;

		li {
			background-color: #fff;
			padding: 0 0 0 1em;

			&.price {
				color: #85C47E;
				font-weight: 700;
			}
		}
	}
}

ol.default {
	list-style: decimal;
	padding-left: 1.25em;

	li {
		padding-left: 0.25em;
	}
}

/* Form */

form {
	label {
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 0.65em 0.75em;
		background: none;
		border: solid 2px rgba(185, 186, 187, 0.5);
		//border-radius: 0.5em;
		outline: none;

		&:focus {
			border-color: #9ac8e9;
		}
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="password"] {
		line-height: 1.35em;
	}

	select {
		line-height: 1.35em;
	}

	textarea {
		height: 12em;
	}

	.formerize-placeholder,
	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder {
		color: rgba(145, 146, 147, 0.85);
	}

	::-moz-focus-inner {
		border: 0;
	}
}

/* Table */

table {
	width: 100%;

	&.default {
		width: 100%;

		tbody tr:nth-child(2n+2) {
			background: #f4f4f4;
		}

		td {
			padding: 0.5em 1em;
		}

		th {
			text-align: left;
			font-weight: 900;
			padding: 0.5em 1em;
		}

		thead {
			background: #444;
			color: #fff;
		}

		tfoot {
			background: #eee;
		}
	}
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {

	background-color: #85c47e;
	border: 0;
	//border-radius: 2.5em;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	outline: 0;
	padding: 0 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: 700;

	&.down {
		width: 3em;
		height: 3em;
		line-height: 4.5em;
		padding: 0;
		background-image: url('../images/dark-arrow.svg');
		background-position: center center;
		background-repeat: no-repeat;
		text-indent: -10em;
		overflow: hidden;

		&.anchored {
			bottom: 0;
			border-bottom: 0;
			border-radius: 3em 3em 0 0;
			margin-left: -1.5em;
		}
	}

	&.anchored {
		position: absolute;
		left: 50%;
	}

	&:hover {
		background-color: rgba(133, 196, 126, 0.7);
	}

	&:active {
		background-color: #88b583;
	}

	&.disable {
		background-color: rgba(133, 196, 126, 0.5);
	}

	&.style2 {
		background-color: transparent;
		border: solid 2px #e5e6e7;
		color: inherit;

		&:hover {
			background-color: rgba(145, 146, 147, 0.035);
		}

		&.down {
			background-image: url('../images/arrow.svg');
		}
	}
}

/* Box */

.box {
	background: #fff;
	color: #777;
	padding: 2em;
	overflow: hidden;

	&.style2 {
		padding: 2em;
	}
}

/* Main */
.main {
	position: relative;
	margin: 0;

	.motto {
		font-size: 1.6em;
		margin: 1em 0 2em;
	}

	&.fullscreen {
		height: 100%;
	}

	&.style1 {
		text-align: center;
		padding: 3em 0;

		h2 {
			font-size: 3.5em;
			line-height: 1em;
		}

		h3 {
			font-size: 2em;
			line-height: 1em;
			text-transform: uppercase;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.content {
			opacity: 1.0;
			display: inline-block;
			vertical-align: middle;
		}

		&.inactive .content {
			opacity: 0;
		}
	}

	&.style2 {
		padding: 3em 0;
		overflow: hidden;

		.content {
			position: relative;
			width: 35%;
			display: inline-block;
			vertical-align: middle;
		}

		&.left {
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			.content {
				left: 0;
			}
		}

		&.right {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			.content {
				left: 65%;
			}
		}

		&.inactive {
			&.left .content {
				left: -35%;
			}

			&.right .content {
				left: 100%;
			}
		}
	}

	&.style3 {
		padding: 1em 0 0;

		header {
			padding: 0 2em;
		}

		.actions {
			text-align: center;
		}

		&.primary {
			background: #fff;
		}

		&.secondary {
			background: #e8e7e5;
		}
	}

	&.style4 {
		padding: 2em 0 0;

		.content > header {
			margin-bottom: 2em;
		}

		h2 {
			text-align: center;
		}

		&.primary {
			background: #fff;
		}

		&.secondary {
			background: #e8e7e5;
		}
	}
}

#gallery h3 {

  &:before {
	  width: 2em;
	  height: 2em;
	  background: url('../images/ig_logo.png') 0 0 no-repeat;
	  position: absolute;
	  content: '';
	  margin: 0.15em 0 0 -1.1em;
  }
}

#ig_stats {
	padding: 1em 2em 0;
	text-align: center;

	ul {
		display: inline-block;
	    padding: 0 0.5em;

		li {
			display: inline-block;

			span {
				padding: 0 0.25em 0 0;
				font-weight: 700;
			}
		}
	}
}

/* Dark */

.dark {
	color: #fff;

	a {
		color: #fff;
	}

	.button.style2 {
		border-color: inherit;
		background-color: rgba(64, 64, 64, 0.05);

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		&.down {
			background-image: url('../images/dark-arrow.svg');
		}
	}
}

/* Spinner */

/* Loader */

body {
	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-weight: normal;
		text-transform: none;
		color: #ececec;
		content: '';
		cursor: default;
		display: block;
		font-size: 2em;
		height: 2em;
		left: 50%;
		line-height: 2em;
		margin: -1em 0 0 -1em;
		opacity: 0;
		position: fixed;
		text-align: center;
		top: 50%;
		width: 2em;
		z-index: -1;
		background: transparent url('../images/loader.png') 50% 50% no-repeat;
	}

	&:after {
		background: #fff;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	&.is-loading {
		&:before {
			z-index: 100001;
		}

		&:after {
			opacity: 1;
			z-index: 100000;
		}

		&.board_spinner {
			border: 1px solid #C3AD55;
			width: 28px;
			height: 5px;
			background-color: #f0e0a2;
			margin: 0 auto;

			}
	}
}

@media (-webkit-min-device-pixel-ratio: 2) {
	body:before {
		line-height: 2.025em;
	}
}

/* Icons */

.icon {
	text-decoration: none;

	&:before {
		display: inline-block;
		font-size: 1.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	> .label {
		display: none;
	}
}

/* Header */



/* Intro */

.home {
	background: url('../images/overlay.png'), url('../images/home_bg.jpg');
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
}

/* One */

.material {
	background: url('../images/overlay.png'), url('../images/material_bg.jpg');
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center center;
}

/* Gallery */
.gallery {
	padding: 1em 1em 0;

	> div {
		width: 33.33%;
		float: left;
		border: 1em solid #fff;
		position: relative;
		height: 400px;

		a {
			cursor: pointer;
			background: #000;
			text-decoration: none;

			img {
				opacity: 1;
			}

			&:hover {
				img {
					opacity: 0.5;
				}

				ul {
					display: block;
				}
			}

			ul {
				overflow: hidden;
				position: absolute;
				top: 50%;
				margin: -0.5em 0 0;
				text-align: center;
				width: 100%;
				display: none;
			  	height: 1em;
			  	line-height: 1em;

				li {
					line-height: 1em;
					font-weight: 500;
					color: #fff;
					display: inline-block;
					padding: 0 0.5em;

					span {
						display: block;
						color: #fff;
						height: 20px;
						width: 20px;
						float: left;
					  	margin: 2px 3px 0 0;
					}

					&.likes {
						span {
							font-size: 1.5em;
							line-height: 0.5em;
						}
					}

					&.comments {
						span {
							text-transform: uppercase;
							position: relative;
							background: #fff;
							border-radius: 8px;
							height: 16px;

							&:before {
								content: '\\';
								position: absolute;
								top: 0;
								left: 8px;
								font-weight: 700;
							}
						}
					}
				}
			}

		  .heart {
			  position: relative;
			  width: 20px;
			  height: 18px;

			&:before,
			&:after {
				position: absolute;
				content: "";
				left: 10px;
				top: 0;
				width: 10px;
				height: 16px;
				background: #fff;
				-moz-border-radius: 5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				}

			&:after {
				left: 0;
				}
		  }
		}
	}
}

/* Work */

#work {
	.row.images {
		.image {
			position: relative;
			top: 0;
			left: 0;
			opacity: 1.0;
		}

		&.inactive {
			.image {
				opacity: 0;

				&.from-left {
					left: -14em;
				}
				&.from-right {
					left: 14em;
				}
				&.from-top {
					top: -7em;
				}
				&.from-bottom {
					top: 7em;
				}
			}
		}
	}
}

/* Contact */
.contacts_list {
	list-style-type: disc;
	margin: 0 0 1em 1em;
}

#contact {
	padding-bottom: 0;
	overflow: hidden;

	.box {
		position: relative;
		bottom: 0;
	}

	&.inactive {
		.box {
			bottom: -30em;
		}
	}
}

#form-messages {
	font-size: 1.2em;
	font-weight: 700;
	font-style: italic;

	&.error {
		color: #a94442;
	}

	&.success {
		color: #3c763d;
	}

	&.board_spinner {
		border: 1px solid #C3AD55;
		width: 28px;
		height: 5px;
		background-color: #f0e0a2;
		margin: 0 auto;
		}
}

/* Footer */

#footer {
	position: relative;
	height: 3em;
	line-height: 3em;
	margin: 0;
	background: #777;
	color: #999;
	overflow: hidden;

	a {
		color: #999;

		&:hover {
			color: #bbb;
		}
	}

	.actions {
		position: absolute;
		left: 2em;
		top: 0;
		margin: 0;

		li {
			margin: 0.7em 0.5em 0 0;

			a {
				padding: 0.5em;
			}
		}
	}

	.menu {
		position: absolute;
		right: 2em;
		top: 0;
		height: 3em;
		line-height: 3em;
		margin: 0;

		li {
			font-size: 1em;
			color: #fff;
		}
	}
}

/* Poptrox */
.poptrox-popup {
	background: #fff;
	padding-bottom: 3em;
	box-shadow: 0 0.1em 0.15em 0 rgba(0, 0, 0, 0.15);

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1em 0 0 -1em;
		width: 2em;
		height: 2em;
		display: block;
		font-size: 2em;

		&:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-style: normal;
			font-weight: normal;
			text-transform: none;
			color: #ececec;
			content: '\f1ce';
			cursor: default;
			display: block;
			height: 2em;
			left: 0;
			line-height: 2em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 2em;
		}
	}

	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #fff;
		width: 100%;
		height: 3em;
		line-height: 2.8em;
		text-align: center;
		cursor: default;
		z-index: 1;
		font-size: 0.9em;
	}

		.nav-next,
		.nav-previous {
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			background: rgba(0, 0, 0, 0.01);
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		}

		.nav-next:before,
		.nav-previous:before {
			content: '';
			position: absolute;
			width: 96px;
			height: 64px;
			background: url('../images/poptrox-nav.svg');
			top: calc(50% - 1.5em);
			margin: -32px 0 0;
		}

		&:hover {
			.nav-next,
			.nav-previous {
				opacity: 0.5;
			}

			.nav-next:hover,
			.nav-previous:hover {
				opacity: 1.0;
			}
		}

		.nav-previous:before {
			-ms-filter: "FlipH";
		}

		.nav-next {
			right: 0;

			&:before {
				right: 0;
			}
		}

		.nav-previous {
			left: 0;

			&:before {
				left: 0;
			}
		}

	.closer {
		position: absolute;
		top: 0;
		right: 0;
		width: 64px;
		height: 64px;
		text-indent: -9999px;
		z-index: 2;
		opacity: 0;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 16px;
			top: 16px;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			box-shadow: inset 0 0 0 2px #fff;
			background: url('../images/poptrox-closer.svg') center center;
			color: #fff;
		}
	}

	  &:hover {
		  .closer {
			  opacity: 0.5;

			  &:hover {
				  opacity: 1.0;
			  }
		  }
	  }
}

/* Touch Mode */

body.is-touch {
	.main {
		background-attachment: scroll;
	}

	.poptrox-popup {
		.nav-next,
		.nav-previous,
		.closer {
			opacity: 1.0;
		}
	}
}

/* Wide */

//@include breakpoint(wide) {
@media (max-width: 1920px) {

/* Basic */

/* Main */
	.main.style2 {
		.content {
			width: 40%;
		}

		&.right {
			.content {
				left: 60%;
			}
		}

		&.inactive {
			&.left {
				.content {
					left: -40%;
				}
			}
		}
	}
}

/* Normal */

@media(max-width: 1680px) {

	/* Basic */

}

/* Narrow */

//@include breakpoint(narrow) {
@media (max-width: 1280px) {
		/* Basic */


		/* Main */
	.main.style2 {
		  .content {
			  width: 50%;
		  }

		  &.right {
			  .content {
				  left: 50%;
			  }
		  }

		  &.inactive {
			  &.left {
				  .content {
					  left: -50%;
				  }
			  }
		  }
	  }

		/* Gallery */
	.gallery {
		> div {
			width: 50%;

			&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}
		}
	}
}

/* Narrower */

//@include breakpoint(narrower) {
@media (max-width: 1000px) {
	/* Basic */
	  .container > .container {
		  width: 100%;
	  }

  /* Main */
	  .main.style2 {
		  .content {
			  width: 60%;
		  }

		  &.right {
			  .content {
				  left: 40%;
			  }
		  }

		  &.inactive {
			  &.left {
				  .content {
					  left: -60%;
				  }
			  }
		  }
	  }
	/* Header */

	/* Gallery */

	/* Footer */
}

/* Mobile */

//@include breakpoint(mobile) {
@media (max-width: 736px) {
		/* Basic */
	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.6em;
	}

	#gallery {
		h3 {
			&:before {
				margin: 0.05em 0 0 -1.4em;
			}
		}
	}

	form {
		textarea {
			height: 6em;
		}
	}
		/* Box */
	.box {
		padding: 1em;

		&.style2 {
			padding: 1.5em 1.25em;
			background-color: rgba(255, 255, 255, 0.9);
		}
	}

/* Main */
	.main {
		&.fullscreen {
			height: auto;
		}

		&.style1 {
			padding: 4em 15px;

			h3 {
				font-size: 3em;
				letter-spacing: -3px;
			}
		}

		&.style2 {
			padding: 6em 15px;

			&:before,
			&:after {
				display: none;
			}

			.content {
				width: 100%;
				left: 0;
				text-align: center;
			}

			.tmp {
				width: 100%;
				height: 10em;
				background-size: cover;
			}
		}
	}

	/* Gallery */
	.gallery {
		> div {
			width: 100%;
			border: none;
			border-bottom: 1em solid #fff;
			height: auto;
		  	&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}

			a {
				background: transparent;

			  	&:hover {
				  	opacity: 1;
				}

				ul {
					position: static;
					display: block;
					margin: 0;
				  	height: 1.2em;

					li {
						padding: 0.2em 1em 0 0;
					  	height: 20px;
						color: #777;

						span {
							color: #C3AD55;
						}

						.heart:before,
						.heart:after {
							background: #C3AD55;
						}

						&.comments {
							span {
								background: #C3AD55;
								border: 1px solid #C3AD55;

								&:before {
									content: '\\';
									position: absolute;
									top: 0;
									left: 8px;
									font-weight: 700;
									color: #C3AD55;
								}
							}
						}
					}
				}
			}
		}
	}
/* Footer */

/* Poptrox */
	.poptrox-popup {
		.nav-next:before,
		.nav-previous:before {
			width: 48px;
			height: 32px;
			background-size: contain;
			margin: -16px 0 0;
		}

		.closer:before {
			right: 12px;
			top: 12px;
			width: 20px;
			height: 20px;
			box-shadow: inset 0 0 0 1px #fff;
			background-size: contain;
			opacity: 0.65;
		}
	}
}

/* Mobile Narrow*/

//@include breakpoint(mobilenarrow) {
@media (max-width: 480px) {

  /* Basic */

  /* Box */

  /* Main */

  /* Header */

  /* Footer */

  #footer {
  height: auto;
	  line-height: inherit;
	  text-align: center;
	  padding: 0 0 0.5em;

	  a {
		  color: #999;
		  color: rgba(185, 186, 187, 0.5);

		  &:hover {
			  color: #bbb;
			  color: rgba(185, 186, 187, 1);
		  }
	  }

	  .actions {
		  position: relative;
		  left: 0;
		  top: 0;
		  height: auto;
		  line-height: inherit;

		  li {
			  margin: 0.5em 0.5em 0 0;

			  a {
				  padding: 0.5em;
			  }
		  }
	  }

	  .menu {
		  position: relative;
		  right: 0;
		  top: 0;
		  height: auto;
		  line-height: inherit;

		  li {
			  border-left: 0;
			  padding: 1em 0 0;
			  margin: 0;
			  display: block;

			  &:first-child {
				  padding-top: 0;
			  }

			  a {
				line-height: 1.5em;
			  }
		  }
	  }
  }

  /* Poptrox */
}
