#tree_holder {
  margin: 60px 0 0;
}

.branch {
  background: #F6BF4F;
  border-bottom: none;
}

.prism .front {
  background: #dbb969;
}

.prism .back {
  background: #c45736;
}

.prism .right {
  background: #c269c4;
}

.prism .left {
  background: #7d5c30;
}

.prism .top {
  background: #b7a05c;
}

.prism .bottom {
  background: #4fc426;
}

.output {
  position: absolute;
  left:0;
  top: -60px;
  border: 1px solid #000;
  border-left: none;
  border-top: none;
  padding: 0 10px 10px;
  background: rgba(#FAF6ED, 0.75);
  z-index: 2;
}

#input_params {
  padding: 0 20px 10px;
  right: 0;
  top: -60px;
  border: none;
  background: rgba(#AAA, 0.25);

  h4 {
    width: 241px;
    margin: 10px 0 0;

    &:after {
      color: #777;
    }
  }
}

#input_params.open {
  border-bottom: 1px solid #777;

  ul {
    li {
      margin: 20px 0;

      label {
        width: 85px;
        height: 30px;
        line-height: 1.5em;
        font-size: 1em;
      }

      input {
        padding: 0 0 0 2px;
        margin: 0 5px;
        width: 40px;
        height: 28px;
        line-height: 28px;
        font-size: 1em;
        border: 1px solid #fff;

        &.lock {
          background-color: transparent;
          border-color: transparent;
        }
      }

      .reset {
        padding: 5px 12px;
        color: #fff;
        background: #85c47e;

        &.lock {
          color: #777;
          background: none;

          &:hover {
            background: none;
          }
        }

        &:hover {
          background: rgba(133, 196, 126, 0.7);
        }
      }
    }
  }
}

.voter {

  .up,
  .down {
    font-size: 1.8em;
    padding: 0 5px;
    border: 1px solid transparent;
    margin: 0 0 0 10px;
    height: 28px;
    line-height: 28px;
    background: #85c47e;
    color: #fff;
    font-weight: 500;

    &.lock {
      color: rgba(119, 119, 119, 0.3);

      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background: rgba(133, 196, 126, 0.7);
    }
  }
}

#constructor .box {
  min-height: 400px;
}
